---
name: ci 
on:
  push:
    branches:
      - main
    paths:
      - .github/workflows/main.yml
      - mkdocs.yml
      - 'docs/**'
permissions:
  contents: write
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0
        with:
          python-version: 3.x
      - run: echo "cache_id=$(date --utc '+%V')" >> $GITHUB_ENV 
      - uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        with:
          key: mkdocs-material-${{ env.cache_id }}
          path: .cache
          restore-keys: |
            mkdocs-material-
      - run: pip install mkdocs-material 
      - run: sudo apt-get install -y pngquant
      - run: pip install mkdocs-git-revision-date-localized-plugin
      - run: pip install pillow cairosvg
      - run: pip install material-plausible-plugin
      - run: mkdocs gh-deploy --force
